playground/*
*.pyc
train_model/raw_data/*
train_model/data/*
train_model/*.pt
.env
birdhub.egg-info/*
*.avi
.vscode
logs/*
build/*
*.jpg
train_model/dataset_v8/*
train_model/wandb/*
env/*
train_model/dataset_v9/*
env/*
*.mp4
birdhub-python/*
tests-python/*
vcpkg_installed/*